[submodule "3rdparty/nvdiffrast"]
	path = 3rdparty/nvdiffrast
	url = https://github.com/NVlabs/nvdiffrast.git
[submodule "3rdparty/diff-gaussian-rasterization"]
	path = 3rdparty/diff-gaussian-rasterization
	url = https://github.com/liguohao96/EGG3D.git
